#avatar-footer-inside-block {
    background-color: #fff;
    border-top: 1px solid #434141;
    border-bottom: 1px solid #2f2f2f;
    padding: 10px 0;
	color: #90c04e;
	font-size: 14px;
    line-height: 1.4em;
	text-align: center;
}

#avatar-footer-inside-block .avatar-wrapper {
    width: 1170px;
    margin: auto;
}

#avatar-footer-inside-block #avatar-pos-footer-left,
#avatar-footer-inside-block #avatar-pos-footer-middle,
#avatar-footer-inside-block #avatar-pos-footer-right {
    width: 33.33%;
	float: left;
}

#avatar-footer-inside-block .avatar-module {
    padding: 5px;
    margin: 10px 5px;
}

#avatar-footer-inside-block .footer_title {
    font-size: large;
    font-family: Franklin Gothic;
}

.clearbreak {
    clear: both;
    height: 0 !important;
    line-height: 0 !important;
    display: block !important;
    float: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

div#block-esafooterblock {
    width: 100% !important;
}

img.esa_footer {
    max-width: 100%;
    max-height: 100%;
} 