.avatar-wrapper {
    width: 1170px;
    margin: auto;
}

img.esa_header_logo {
    max-width: 100%;
    max-height: 100%;
} 
div#avatar-pos-top-left {
    width: 25%;
    float: left;
}
div#avatar-pos-top-right {
    width: 75%;
    float: right;
}

ul.at-menu-horizontal > li,
ul.at-menu-horizontal > li:hover {
    padding-inline-start: 0px !important; 
}

#block-esaheaderblock ul {
    padding-inline-start: 0px !important;
}

#block-esaheaderblock .mod-languages a:link,
#block-esaheaderblock .mod-languages a:visited {
    color: #90c04e;
}

nav#navbar-main {
    padding: 0px !important; 
}

#header {
    height: 110px;
}

#avatar-header-inside-block {
    background: #fff;
    height: 110px;
}

div.alert {
    z-index: 999;
}