{% block head %}
{{ attach_library( 'biopama_esa_blocks/biopama_esa_header' ) }}
{% endblock %}
<div id="avatar-header-inside-block">
	<div class="avatar-wrapper block-default-width">
		<div id="avatar-pos-top-left">
			<div class="avatar-module at-logo">
				<div class="avatar-module-content">
					<div class="custom">
<p><a href="https://esahub.rcmrd.org"><span class="at-font-light" style="color: white;"><img class="esa_header_logo" src="{{ esa_blocks_image_path }}logo.png" alt="" width="397" height="80"></span></a></p>
					</div>
				</div>
			</div>
		</div>				
		<div id="avatar-pos-top-right">
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="mod-languages">
						<div class="pretext">
							<p>
								<a href="#">EN </a> |
								<a href="#">FR </a> |
								<a href="#">PT </a>
							</p>
						</div>
						<ul class="lang-inline"> 
						</ul>
					</div>
				</div>
			</div>
			<div class="avatar-module no-padding-margin at-menu-module">
				<div class="avatar-module-content">
					<div class="at-main-menu at-menu-home">
<span class="menu-pull"></span>
<ul class="menu clearfix at-menu-horizontal ">
	<li class="item-101">
		<a href="/en/">Home</a>
	</li>
	<li class="item-197 deeper parent">
		<span class="pull"></span><span class="separator">About Us</span>
		<ul>
			<li class="item-206"><a href="/en/about-us/rrh-principles">RRH Principles</a></li>
			<li class="item-192"><a href="/en/about-us/focus-areas">Focus Areas</a></li>
			<li class="item-164"><a href="/en/about-us/members-recs">Members (RECs)</a></li>
			<li class="item-198"><a href="/en/about-us/biopama">BIOPAMA</a></li>
			<li class="item-159"><a href="/en/about-us/partners">Partners</a></li>
			<li class="item-207"><a href="/en/about-us/contacts">Contacts</a></li>
		</ul>
	</li>
	<li class="item-156 deeper parent">
		<span class="pull"></span>
		<span class="separator">Our Work</span>
		<ul>
			<li class="item-190"><a href="/en/our-work/news">News</a></li>
			<li class="item-191"><a href="/en/our-work/upcoming-events">Upcoming Events</a></li>
			<li class="item-157"><a href="/en/our-work/services">Services</a></li>
			<li class="item-169"><a href="/en/our-work/action-component">Action Component</a></li>
			<li class="item-208"><a href="/en/our-work/regional-coverage">Regional Coverage</a></li>
			<li class="item-154"><a href="/en/our-work/knowledge-products">Knowledge Products</a></li>
		</ul>
	</li>
	<li class="item-158 deeper parent">
		<span class="pull"></span>
		<span class="separator">Information Management</span>
		<ul>
			<li class="item-163"><a href="/en/information-management/rris">Regional Reference Information System</a></li>
		</ul>
	</li>
	<li class="item-160 deeper parent">
		<span class="pull"></span>
		<span class="separator">Protected Areas</span>
		<ul>
			<li class="item-209"><a href="/en/protected-areas/what-are-protected-areas">What are Protected Areas</a></li>
			<li class="item-201"><a href="/en/protected-areas/marine-and-coastal">Marine and Coastal</a></li>
			<li class="item-202"><a href="/en/protected-areas/terrestrial-and-inland-water">Terrestrial and Inland Water</a></li>
			<li class="item-161"><a href="/en/protected-areas/pame">Management Effectiveness</a></li>
			<li class="item-200"><a href="/en/protected-areas/page">Governance and Equity</a></li>
			<li class="item-168"><a href="/en/protected-areas/iucn-green-list">IUCN Green List</a></li>
		</ul>
	</li>
</ul>
					</div>			
				</div>
			</div>
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="custom">
						<p><img class="divider" src="{{ esa_blocks_image_path }}divider_02.png" alt=""></p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearbreak"></div>
	</div>
</div>