{% block head %}
{{ attach_library( 'biopama_esa_blocks/biopama_esa_footer' ) }}
{% endblock %}
<div id="avatar-footer-inside-block">
	<div class="avatar-wrapper block-default-width">
		<div id="avatar-pos-footer-left">
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="custom">
<p class="footer_title" style="text-align: center;">Support<br><br></p>
<p><a href="https://www.biopama.org" target="_blank"><img class="esa_footer" src="{{ esa_blocks_image_path }}biopama_logo.png" alt=""></a></p>
					</div>
				</div>
			</div>
		</div>
	
		<div id="avatar-pos-footer-middle">
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="custom">
<p class="footer_title" style="text-align: center;">Donors &amp; Implementing Partners</p>
<p><img class="esa_footer" src="{{ esa_blocks_image_path }}donors_implementing_partners.png" alt=""></p></div>
				</div>
			</div>
		</div>
		<div id="avatar-pos-footer-right">
			<div class="avatar-module ">
				<div class="avatar-module-content">
					<div class="custom">
<p class="footer_title" style="text-align: center;">RRH Host</p>
<p><a href="http://rcmrd.org" target="_blank"><img class="esa_footer" src="{{ esa_blocks_image_path }}rcmrd_logo.png" alt="" width="300" height="115"></a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearbreak"></div>
	</div> 
</div>